@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Ruslan+Display&display=swap');

@import 'tailwindcss';

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
}